<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
	<!-- Thymeleaf links -->
	<!--	<link th:href="@{static/css/user-login.css}" rel="stylesheet"/>-->
	<link rel="stylesheet" type="text/css" href="static/css/user-login.css" />
	<title>User login form</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="d-flex justify-content-center align-items-center">
				<div class="col-md-12 col-md-offset-12">
					<!-- error message -->
					<div th:if="${param.error}">
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<i class="bi-exclamation-triangle-fill"></i> <strong class="mx-2">Error!</strong>Invalid email address or
							password.
							<button type="button" class="close" data-dismiss="alert" aria-label="close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<i class="bi-check-circle-fill"></i>
							<strong class="mx-2">Success!</strong>You have been logged out.
							<button type="button" class="close" data-dismiss="alert" aria-label="close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>

					<div class="border p-3 mb-auto rounded shadow p-3 mb-auto bg-white rounded">
						<h1 class="text-center" style="font-size: 30px">Login</h1>
						<h2 class="border-bottom mb-2 pb-1"></h2>
						<form th:action="@{/login}" method="post">
							<div class="form-group">
								<label for="username"> Email Address </label>
								<input type="text" class="form-control" id="username" name="username" placeholder="Enter Email ID"
									autofocus="autofocus" />
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" id="password" name="password" class="form-control"
									placeholder="Enter Password" />
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-12 text-center">
										<input type="submit" name="login-submit" id="login-submit"
											class="form-control btn btn-md btn-primary" value="Login" />
									</div>
								</div>
							</div>
						</form>
						<div class="form-group">
							<span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>