@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 10px;*/
    overflow: hidden;
    /*background: #0f0f0f;*/
    background-image: url("/static/images/programmer.gif");
    background-repeat: no-repeat, repeat;
    background-position: left;
    background-attachment: fixed;
}

.justify-content-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 500px;
    bottom: 0;
    right: 0;
}

.justify-content-center {
    min-width: 300px;
    max-width: 600px;
    padding: 50px;
}
